{% extends 'main/base.html' %}

{% block content %}
<section class="container-lg  mb-4">
    <ul class="col list-group ">
        <div class=" row  my-4 ">
            <a class=" w-25 mx-auto btn btn-lg btn-primary text-decoration-none" href="{% url 'accounts:NewAccount' %}" style="min-width: 18rem;"> New Account</a>
        </div>
        {% for user in user_list %}
        
        <div class="mx-auto text-decoration-none card text-dark bg-light mb-3" style="width: 18rem;">
            <div class="card">
                <div class="d-flex flex-row justify-content-between card-header">
                    <div class="">{{ user.username|title }}</div>
                    <div class="">
                        <div style="font-size: 0.75em;">
                            User ID:{{ user.id }}
                        </div>
                        <div style="font-size: 0.75em;">
                            Profile ID:{{ user.user_profile.id }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{% if user.user_profile.title %}{{ user.user_profile.title }} {% endif %}{{ user.user_profile.first_name|title }} {{ user.user_profile.surname|title }}</h5>
                    <p class="card-text">Posts: {{ user.posts.all|length }}</p>
                    <div class="btn-group">
                        <a href="{% url 'accounts:AccountDetails' pk=user.pk %}" class="btn btn-info">View</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %}
    </ul>
</section>
{% endblock %}
