{% load crispy_forms_tags %}


    <!-- Other content -->

    <!-- Modal for New Post Form -->
    <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPostModalLabel">Create New Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{% url 'New_Post' user.username %}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <script>
                            console.log("Hello, World.")
                        </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Modal -->