<nav class="navbar bg-body-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Y.com</a>
      
      {% if user.is_authenticated %}
      <div class="d-flex">
        <a class="mx-2 px-4 py-2" href="{% url 'HomePage' %}">Home</a>
        <a class="mx-2 px-4 py-2" href="{% url 'Logout' %}">Logout</a>
        <a class="mx-2 px-4 py-2" href="{% url 'TestView' %}">Accounts</a>
      </div>
        {% else %}
      <div class="d-flex">
        <a class="mx-2 px-4 py-2" href="{% url 'Login' %}">Log in</a>
        <a class="mx-2 px-4 py-2" href="{% url 'Register' %}">Register</a>
      </div>
      {% endif %}
    </div>
</nav>