<nav class="navbar bg-body-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Y.com</a>
      
      {% if user.is_authenticated %}
      <div class="d-flex nav-item">
        <a class="mx-2 px-4 py-2 nav-link" href="{% url 'HomePage' %}">Home</a>
        <a class="mx-2 px-4 py-2 nav-link" href="{% url 'accounts:Logout' %}">Logout</a>
        <a class="mx-2 px-4 py-2 nav-link" href="{% url 'accounts:Accounts' %}">Accounts</a>
      </div>
        {% else %}
      <div class="d-flex">
        <a class="mx-2 px-4 py-2  nav-link" href="{% url 'accounts:Login' %}">Log in</a>
        <a class="mx-2 px-4 py-2  nav-link" href="{% url 'accounts:Register' %}">Register</a>
      </div>
      {% endif %}
    </div>
</nav>