{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-lg-8">
        <div class="row justify-content-center title">
            <h2>{{ poster.username }}'s Posts</h2>
            {% if poster.username == user.username %}
              <div class="container">
                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPostModal">New Post</a>
                {% include "posts/partials/newPostModal.html" %}
              </div>
            {% endif %}
          </div>
          <div class="timeline">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="timeline-container">
                    
                    <div class="mt-4 timeline-continue">
          
                    {% for day, posts in posts.items %}
                    <h2 class=" mt-2 ">{{ day }}</h2>
                        {% for post in posts %}
                        <ul>
                            {% include "posts/partials/postCard.html" %}
                        </ul>
                    {% endfor %}
                    {% empty %}
                    <p>This user hasn't made any posts yet.</p>
                     {% endfor %}
                    
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

