{% extends 'main/base.html' %}

{% block content %}

<div class="container ">
    <div class="col">
        <div class="row">
            {% if poster.username == user.username %}
                <p>Welcome home {{ user.username }} </p>
            {% endif %}
        </div>
        <div class="row">
            {% for day, posts in posts.items %}
                <h2>{{ day }}</h2>
                {% for post in posts %}
                    <ul>
                        {% include "posts/partials/postCard.html" %}
                    </ul>
                {% endfor %}
                {% empty %}
                <p>This user hasn't made any posts yet.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
